h1 {
  font-weight: 400;
  font-size: 1rem;
}

h3 {
  font-weight: 400;
}

h4 {
  font-weight: 400;
}
.article-lay {
  width: 80%;
}

@media screen and (max-width: 1100px) {
  .article-lay {
    width: 100%;
  }
}
